body {
    background-color: whitesmoke;
}

header {
    display: flex;
    text-align: center;
    font-size: 72pt;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    -webkit-box-shadow:  0px 2px 5px 1px rgba(155, 155, 155, .5);
    box-shadow:  0px 4px 2px -2px rgba(155, 155, 155, .5);
}

#dash {
    font-size: 18pt;
    font-weight: normal;
    font-family: monospace;

}

ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
}

li {
    padding: 15px;
    text-align: center;
}

li:hover {
    text-decoration: underline;
}

#linked:hover{
    text-decoration: underline;
    color: black;
}

#linked:active{
    color: lightblue;
}

#linked:visited{
    color: black;
    text-decoration: none;
}

#linked:link {
    color: black;
    text-decoration: none;
}

section {
    display: flex;
    width: 100%;
    justify-content: center;
}
article{
    display: flex;
    flex-flow: row wrap;
    width: 75%;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-shadow:  0px 2px 5px 1px rgba(155, 155, 155, .5);
    box-shadow:  0px 2px 5px 1px rgba(155, 155, 155, .5);
}

#botart {
    width: 50%;
    justify-content: center;
    text-align: center;
}

#botart img{
    padding: 10px;
    border: 1px solid #77aaff;
    box-shadow:  -1px 1px #77aaff,
         -2px 2px #77aaff,
         -3px 3px #77aaff,
         -4px 4px #77aaff,
         -5px 5px #77aaff;
}

.h1box{
    margin-top: 10px;
    background-color: rgb(51, 51, 51);
    text-align: center;
    padding: 1px 1px 1px 1px;
}

.h1box h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
    color: white;
    margin: 1px 1px 1px 1px;
}

p {
    font-size: 14pt;
}